<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
</head>
<body>
    <div id="stats">
        <h2>Game Stats</h2>
        <p id="topScore">Top Score: 0</p>
        <p id="averageScore">Average Score: 0</p>
        <p id="generationCount">Generation: 0</p>
    </div>
    <div id="canvasContainer"></div>
    <script src="NN.js"></script>
    <script src="gen.js"></script>
    <script src="snake.js"></script>
    <script src="script.js"></script>
</body>
</html>
