<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
</head>
<body>
    <canvas id="gameCanvas"></canvas>
    <script src="NN.js"></script>
    <script src="gen.js"></script>
    <script src="snake.js"></script>
    <script src="script.js"></script>
</body>
</html>
