<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test Game</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <style>
        .car {
            position: absolute;
            width: 50px;
            height: 100px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <canvas id="gameCanvas" width="800" height="500"></canvas>
    <div class="car"></div>
    <script src="/index.js"></script>
</body>
</html>
