<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TickTacToe Game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
</head>
<body>
    <div id="canvasContainer"></div>
    <button id="train">Train AI</button>
    <div id="training-modal" class="modal">
        <div class="modal__content">
            <h1>Training<div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </h1>
        </div>
    </div>
    <script src="NN.js"></script>
    <script src="script.js"></script>
</body>
</html>
