<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2D Car Game</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
</head>
<body>
    <div id="header">
        <div id="top-cars-container">
            <h2>Top Cars</h2>
            <div id="top-cars"></div>
        </div>
        <div id="generation">Generation: <span id="generation-number">0</span></div>
    </div>
    <div id="gameContainer">
        <canvas id="gameCanvas" width="800" height="500"></canvas>
    </div>
    <script src="/NN.js"></script>
    <script src="/gen.js"></script>
    <script src="/cars.js"></script>
    <script src="/index.js"></script>
</body>
</html>
