body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #000000;
    margin: 0;
    flex-wrap: wrap;
    gap: 20px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#canvasContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

canvas {
    background-color: #98e251;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    margin: 1rem;
}

canvas:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 10px;
}

#stats h2 {
    margin: 0 0 10px 0;
}

#stats p {
    margin: 5px 0;
}
